
<h1>Welcome to JQueery</h1>


<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @categories.each do |category| %>
    <div class="col-xs-12">
      <div class="text-center">
      </div>
        <h2><%= link_to category.name, category_path(category)  %></h2>
      <br>
    </div>
    <% end %>
  </div>
</div>

